/* CONTATO */

.contcontato {
	grid-area: contcontato;
	display: grid;
	grid-template-areas: 
	"texto"
	"card"
	"foot";
	place-self: center;
	height: 63.9vh;
	width: 90vw;
	max-width: 1200px;
}

.txtcontato {
	grid-area: texto;
	margin: 5%;
}

.cardcont {
	grid-area: card;
	display: grid;
	grid-template-areas: 
	"iconchat chat"
	"iconemail email"
	"iconlinkedin linkedin";
	grid-template-columns:  1fr 2fr;
	grid-template-rows: 1fr 1fr 1fr;
	place-self: center;
	margin-bottom: 2vh;
}

.cardcont span {
	height: auto;
	width: auto;
	font-size: clamp(3.2rem, 4vw, 6.4rem);
	padding: 2%;
}

.cardcont h4 {
	font-family: 'Keania One', cursive;
}

.iconchat {
	grid-area: iconchat;
	place-self: center;
}

.chat {
	grid-area: chat;
}

.iconemail {
	grid-area: iconemail;
	place-self: center;
}

.email {
	grid-area: email;
}

.iconlinkedin {
	grid-area: iconlinkedin;
	place-self: center;
}

.linkedin {
	grid-area: linkedin;
}

.contcontato a {
	color: white;
}

.foot {
	grid-area: foot;
}

/* PHONE E TABLET RETRATO */

@media (max-width: 767px) {

		.contcontato {
			height: auto;
		}

}